.custom-navbar{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.logo img{
    max-width:150px ;
}

.custom-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.custom-nav li{
    margin: 0 0.75rem;

}
.custom-nav li a{
    font-family:var(--text-font-family);
    color: white;


}

.humbuger{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.hamburger-btn{
    border-radius: .25rem;
    color:#fff;
    padding:5px 10px;
    border: none;
    
    background: transparent;
}

.hamburger-btn:active{
    
    border: 1px solid rgba(255, 255, 255, 0.9)
}
.hamburger-btn:hover{
    
    border: 1px solid rgba(255, 255, 255, 0.9);
}
.mobile-navbar{
    display: none;
}


@media (max-width: 991.98px) {

    .mobile-navbar{
        width: 20rem;
        display: block;
        height: 100vh;
        font-size: 1.25rem;
        padding: 20px 30px;
        inset: 0;
        padding-top: 50px;
        z-index: 100;
        color: rgb(24, 24, 24);
        
        background-color: rgb(255, 255, 255,0.9);
        transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
        
        
        
    
    }
    .mobile-nav li{
        margin-top: 20px;
    }
    .mobile-nav li a{
       
        color: rgb(19, 19, 19);
    
    
    }
    .mobile-nav li a:hover{
        
        color: rgba(19, 19, 19, 0.8);
    
    
    }
    
    
    .mobile-navbar.open {
      visibility: visible;
      transform: translateX(-100%);
    }
  }

  @media screen and (max-width:399.8px) {
    
  }